<div class="overflow-x-auto mt-4 h-[calc(100vh_-_150px)] border-gray-500">
  <table class="table table-pin-rows table-pin-cols border">
    <!-- head -->
    <thead>
      <tr class="bg-gray-400">
        @for (item of headers; track $index) {
        <td>{{ item }}</td>
        }
      </tr>
    </thead>
    <tbody class="bg-white">
      <!-- row 1 -->
      @for (item of products; track $index) {
      <tr
        #productRow
        [ngClass]="{ 'bg-gray-300': index == $index }"
        class="hover cursor-pointer"
        routerLink="../edit"
        [queryParams]="{ id: item.CLAV }"
      >
        <td class="text-xl font-bold">{{ item.CLAV }}</td>
        <td class="text-xl font-bold">{{ item.ARTICULO }}</td>
        <td class="text-xl font-bold">{{ item.CLPR }}</td>
        <td class="text-xl font-bold">{{ item.COSTOL }}</td>
        <td class="text-xl font-bold">{{ item.COSTO }}</td>
        <td class="text-xl font-bold">{{ item.PRECIO1 }}</td>
        <td class="text-xl font-bold">{{ item.PRECIO2 }}</td>
        <td class="text-xl font-bold">{{ item.PRECIO3 }}</td>
        <td class="text-xl font-bold">{{ formatDate(item.UPDATE) }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
