<div class="flex flex-col w-screen h-screen bg-gray-400">
  <div class="h-full">
    <div
      class="flex bg-gradient-to-r from-blue-800 via-blue-700 to-blue-400 p-2"
    >
      <div class="flex items-center w-full">
        <p class="text-2xl font-bold text-white">Ferreteria garcia</p>
      </div>
      <div class="flex w-fit gap-3">
        <button
          class="btn btn-sm"
          routerLink="ventas"
          routerLinkActive="btn-primary"
        >
          Ventas
        </button>
        <button
          class="btn btn-sm"
          routerLink="productos"
          routerLinkActive="btn-primary"
        >
          Productos
        </button>
        <button
          class="btn btn-sm"
          routerLink="data"
          routerLinkActive="btn-primary  white-icon"
        >
          <img
            src="assets/icons/database.svg"
            alt="database"
            class="w-6 max-w-6"
          />
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-init-database-modal />
