@if (product) {
<div class="container mx-auto h-[calc(100vh_-_50px)] overflow-y-auto p-2">
  <p class="text-2xl font-bold">Editar producto</p>
  <div class="flex flex-col">
    <p class="text-xl text-green-700 my-2">Actualizacion: {{ update }}</p>
    <div class="grid grid-cols-12 gap-4">
      <label class="form-control w-full col-span-8">
        <div class="label">
          <span class="label-text font-bold">ARTICULO</span>
        </div>
        <input
          type="text"
          [(ngModel)]="product.ARTICULO"
          placeholder="Escriba el nombre del articulo"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if (product.ARTICULO == '') {
        <div class="label">
          <span class="label-text-alt text-error"
            >*El nombre del articulo es requerido</span
          >
        </div>
        }
      </label>
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">PROVEDOR</span>
        </div>
        <input
          type="text"
          [(ngModel)]="product.CLPR"
          placeholder="Escriba el nombre del provedor"
          class="input input-bordered w-full text-2xl font-bold"
        />
      </label>
    </div>
    <div class="divider text-gray-500 my-0"></div>
    <div class="grid grid-cols-12 gap-2">
      <label class="form-control w-full col-span-3">
        <div class="label">
          <span class="label-text font-bold">COSTO DEL PRODUCTO</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.COSTOL"
          (ngModelChange)="updateCosto()"
          min="0"
          placeholder="Escriba el nombre del articulo"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.COSTOL && product.COSTOL != 0) || product.COSTOL < 0) {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>
      <label class="form-control w-full col-span-3">
        <div class="label">
          <span class="label-text font-bold">DESCUENTO</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.DC"
          (ngModelChange)="updateCosto()"
          min="0"
          placeholder="Escriba el nombre del articulo"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.DC && product.DC != 0) || product.DC < 0) {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>
      <label class="form-control w-full col-span-3">
        <div class="label">
          <span class="label-text font-bold">INCREMENTO</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.DI"
          (ngModelChange)="updateCosto()"
          min="0"
          placeholder="Escriba el nombre del articulo"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.DI && product.DI != 0) || product.DI < 0) {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>
      <label class="form-control w-full col-span-3">
        <div class="label">
          <span class="label-text font-bold">COSTO NETO</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.COSTO"
          disabled
          placeholder="Escriba el nombre del articulo"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.COSTO && product.COSTO != 0) || product.COSTO < 0) {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>
    </div>
    <div class="divider text-gray-500 my-0"></div>
    <div class="grid grid-cols-12 gap-2">
      <!-- PARTE 1 -->
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">UNIDAD 1</span>
        </div>
        <input
          type="text"
          [(ngModel)]="product.U1"
          placeholder="UNIDAD 1"
          class="input input-bordered w-full text-2xl font-bold"
        />
      </label>
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">UNIDAD 2</span>
        </div>
        <input
          type="text"
          [(ngModel)]="product.U2"
          placeholder="UNIDAD 2"
          class="input input-bordered w-full text-2xl font-bold"
        />
      </label>
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">UNIDAD 3</span>
        </div>
        <input
          type="text"
          [(ngModel)]="product.U3"
          placeholder="UNIDAD 3"
          class="input input-bordered w-full text-2xl font-bold"
        />
      </label>
      <!-- PARTE 2 -->
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">PRC1</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.PRC1"
          (ngModelChange)="updatePrices()"
          placeholder="PRC 1"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.PRC1 && product.PRC1 != 0) || product.PRC1 < 0) {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">PRC 2</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.PRC2"
          (ngModelChange)="updatePrices()"
          placeholder="PRC 2"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.PRC2 && product.PRC2 != 0) || product.PRC2 < 0) {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">PRC 3</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.PRC3"
          (ngModelChange)="updatePrices()"
          placeholder="PRC 3"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.PRC3 && product.PRC3 != 0) || product.PRC3 < 0) {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>
      <!-- RESULTADOS -->
      <div class="divider col-span-12 my-0"></div>
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">PRECIO 1</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.PRECIO1"
          [value]="price_1"
          disabled
          placeholder="Escriba el nombre del articulo"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.PRECIO1 && product.PRECIO1 != 0) || product.PRECIO1 < 0)
        {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">PRECIO 2</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.PRECIO2"
          [value]="price_2"
          disabled
          placeholder="Escriba el nombre del articulo"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.PRECIO2 && product.PRECIO2 != 0) || product.PRECIO2 < 0)
        {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>
      <label class="form-control w-full col-span-4">
        <div class="label">
          <span class="label-text font-bold">PRECIO 3</span>
        </div>
        <input
          type="number"
          [(ngModel)]="product.PRECIO3"
          [value]="price_3"
          disabled
          placeholder="Escriba el nombre del articulo"
          class="input input-bordered w-full text-2xl font-bold"
        />
        @if ((!product.PRECIO3 && product.PRECIO3 != 0) || product.PRECIO3 < 0)
        {
        <div class="label">
          <span class="label-text-alt text-error">*El valor minimo es 0</span>
        </div>
        }
      </label>

      <button
        class="btn btn-block col-span-6 my-6 btn-neutral btn-outline"
        routerLink="/productos"
      >
        Regresar
      </button>
      <button
        class="btn btn-block col-span-6 my-6 btn-success"
        [disabled]="validate"
        (click)="updateProduct()"
      >
        Actualizar
      </button>
    </div>
  </div>
</div>
<app-loading-modal />
}
