<div class="flex items-center mb-2 justify-between">
  <div class="">
    <p class="text-xl font-bold">Ticket</p>
  </div>
  <div class="flex gap-2">
    <!-- <button class="btn btn-primary" (click)="clearTicket()">
      Agregar producto no registrado
    </button> -->
    <button class="btn btn-error" (click)="clearTicket()">Limpiar</button>
  </div>
</div>
<div class="flex flex-col contain border border-gray-500 p-2">
  @if(ticket && ticket.products.length > 0){
  <div class="overflow-x-auto overflow-y-auto max-h-full table-pin-rows">
    <table class="table border">
      <thead>
        <tr class="bg-gray-400 text-black text-xl">
          <th>Cantidad</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        @for (item of ticket.products; track $index) {
        <tr
          class="hover:bg-gray-300 bg-white cursor-pointer"
          (click)="editProduct($index)"
        >
          <td class="text-xl font-bold">{{ item.quantity }}</td>
          <td class="text-xl font-bold">{{ item.product.ARTICULO }}</td>
          @switch (item.typePrice) { @case (1) {
          <td class="text-xl font-bold">{{ item.product.PRECIO1 }}</td>
          } @case (2) {
          <td class="text-xl font-bold">{{ item.product.PRECIO2 }}</td>
          } @case (3) {
          <td class="text-xl font-bold">{{ item.product.PRECIO3 }}</td>
          } @default {
          <td class="text-xl font-bold">{{ item.price }}</td>
          } }
          <td class="text-xl font-bold">
            {{ fixedDigits(item.price * item.quantity) }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  }
</div>
<div class="flex justify-end mt-2">
  <div class="stats shadow bg-gray-400 border border-gray-500">
    <div class="stat">
      <div class="stat-title">Total</div>
      <div class="stat-value">${{ total }} MXN</div>
    </div>
  </div>
</div>
<app-edit-product-modal
  [productTicket]="productSelected"
  [index]="indexSelected"
/>
