@if (products) {
<div class="overflow-x-auto overflow-y-auto max-h-96 table-pin-rows">
  <table class="table border">
    <!-- head -->
    <thead>
      <tr class="bg-gray-400 text-xl text-black">
        <th>CLAVE</th>
        <th>PRODUCTO</th>
        <th>PRECIO 1</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      @for (product of products; track $index) {
      <tr
        #productRow
        [ngClass]="{ 'bg-gray-300': index == $index }"
        class="hover cursor-pointer"
        (click)="clickProduct($index)"
      >
        <td class="text-xl font-bold">{{ product.CLAV }}</td>
        <td class="text-xl font-bold">{{ product.ARTICULO }}</td>
        <td class="text-xl font-bold">{{ product.PRECIO1 }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
