<div class="flex justify-center items-center h-[calc(100vh_-_150px)] w-full">
  <div class="m-2 border border-gray-500 p-3 min-w-96">
    <div class="flex flex-col">
      <p class="text-2xl font-bold text-center">Base de Datos</p>
      <button class="btn btn-success mt-3" (click)="exportDatabase()">
        <app-icon icon="file_download" />
        Exportar base de datos
      </button>
      <div class="divider">O</div>
      <input
        type="file"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        class="file-input file-input-bordered w-full"
        (change)="onFileSelected($event)"
      />
      <button
        class="btn btn-primary mt-2"
        (click)="importData()"
        [disabled]="!selectedFile"
      >
        <app-icon icon="file_upload" />
        Importar base de datos
      </button>
    </div>
  </div>
</div>
