<dialog class="modal bg-black bg-opacity-50" [open]="open">
  <div class="modal-box rounded-none p-1 bg-gray-400">
    <div
      class="flex bg-gradient-to-r from-blue-800 via-blue-700 to-blue-400 p-2"
    >
      <p class="text-base font-bold text-white w-full">
        Cargando base de datos...
      </p>
    </div>

    <div class="flex flex-col gap-4 py-2">
      <progress class="progress progress-primary w-full"></progress>
    </div>
  </div>
</dialog>
