<dialog class="modal bg-black bg-opacity-50" [open]="open">
  <div class="modal-box rounded-none p-1 bg-gray-400 min-w-fit">
    <div
      class="flex bg-gradient-to-r from-blue-800 via-blue-700 to-blue-400 p-2"
    >
      <p class="text-base font-bold text-white w-full">Buscar producto</p>
      <button
        class="btn btn-square btn-xs btn-error text-white"
        (click)="closeModal()"
      >
        <app-icon icon="close" />
      </button>
    </div>
    <label
      class="input input-bordered flex items-center gap-2 rounded-none cursor-pointer mt-2"
    >
      <input
        #searchInput
        [formControl]="search"
        type="text"
        class="grow cursor-pointer text-2xl font-bold"
        placeholder="Buscar producto"
      />
      <app-icon icon="search" />
    </label>
    @if (products) {

    <div class="flex flex-col mt-3">
      @if(products.length > 0 ){
      <app-products-table
        [products]="products"
        [index]="index"
        (clickProductEvent)="clickProduct($event)"
      />
      }@else {
      <app-alert
        icon="warning"
        message="Ningun producto coincide con la busqueda"
      />
      }
    </div>
    }@else {
    <div class="mt-2">
      <app-alert message="Escriba algo para buscar productos" />
    </div>
    }
  </div>
</dialog>
