<dialog class="modal bg-black bg-opacity-50" [open]="open">
  <div class="modal-box rounded-none p-1 bg-gray-400">
    @if (productTmp) {
    <div
      class="flex bg-gradient-to-r from-blue-800 via-blue-700 to-blue-400 p-2"
    >
      <p class="text-base font-bold text-white w-full">Agregar producto</p>
      <button
        class="btn btn-square btn-xs btn-error text-white"
        (click)="closeModal()"
      >
        <app-icon icon="close" />
      </button>
    </div>
    <p class="text-xl font-bold text-neutral w-full">
      {{ productTmp.product.ARTICULO }}
    </p>
    <p class="text-xl text-green-700 my-2">Actualizacion: {{ update }}</p>
    <div class="stats w-full bg-gray-400 border border-black border-opacity-10">
      <div class="stat">
        <div class="stat-title text-black">PRECIO 1</div>
        <div class="stat-value">{{ productTmp.product.PRECIO1 }}</div>
        <div class="stat-desc text-xl text-black">
          {{ productTmp.product.U1 }}
        </div>
      </div>

      <div class="stat">
        <div class="stat-title text-black">PRECIO 2</div>
        <div class="stat-value">{{ productTmp.product.PRECIO2 }}</div>
        <div class="stat-desc text-xl text-black">
          {{ productTmp.product.U2 }}
        </div>
      </div>

      <div class="stat">
        <div class="stat-title text-black">PRECIO 3</div>
        <div class="stat-value">{{ productTmp.product.PRECIO3 }}</div>
        <div class="stat-desc text-xl text-black">
          {{ productTmp.product.U3 }}
        </div>
      </div>
    </div>
    <div class="flex gap-4">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text text-xl">Cantidad</span>
        </div>
        <input
          #quantityInput
          [(ngModel)]="productTmp.quantity"
          (ngModelChange)="setPrice()"
          type="number"
          step="1"
          min="1"
          placeholder="Cantidad"
          class="input input-bordered w-full max-w-xs text-2xl font-bold"
        />
        @if (productTmp.quantity < 0 || !productTmp.quantity) {
        <div class="label">
          <span class="label-text-alt text-error"
            >*La cantidad debe ser mayor a 0</span
          >
        </div>
        }
      </label>
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text text-xl">Precio</span>
        </div>
        <select
          [(ngModel)]="productTmp.typePrice"
          class="select select-bordered text-2xl font-bold"
          (ngModelChange)="changeTypePrice()"
        >
          <option [ngValue]="1">{{ productTmp.product.PRECIO1 }}</option>
          <option [ngValue]="2">{{ productTmp.product.PRECIO2 }}</option>
          <option [ngValue]="3">{{ productTmp.product.PRECIO3 }}</option>
          <option [ngValue]="0">PERSONALIZADO</option>
        </select>
      </label>
    </div>
    @if (productTmp.typePrice == 0) {
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text text-xl">Precio</span>
      </div>
      <input
        #priceInput
        [(ngModel)]="price"
        (ngModelChange)="setPrice()"
        type="number"
        step="1"
        min="0"
        placeholder="Precio"
        class="input input-bordered w-full text-2xl font-bold"
      />
      @if (price <= 0) {
      <div class="label">
        <span class="label-text-alt text-error"
          >*El precio no puede ser mayor a 0</span
        >
      </div>
      }
    </label>
    }
    <div class="flex w-full justify-end">
      <p class="text-2xl mt-4 font-bold text-neutral">Costo: ${{ total }}</p>
    </div>
    @if (productTmp.price <= 0) {
    <div class="flex items-center justify-end">
      <p class="label-text-alt text-error">*El costo debe ser mayor a 0</p>
    </div>
    }
    <div class="modal-action mb-2">
      <button class="btn btn-error" (click)="deleteProductTicket()">
        Eliminar
      </button>
      <button
        class="btn bg-gray-200"
        [disabled]="productTmp.price <= 0"
        (click)="updateProduct()"
      >
        Actualizar
      </button>
    </div>
    }
  </div>
</dialog>
