<div class="p-2">
  <label
    class="input input-bordered flex items-center gap-2 rounded-none cursor-pointer"
  >
    <input
      type="text"
      class="grow cursor-pointer text-2xl font-bold"
      placeholder="Buscar producto"
      [readOnly]="true"
      (click)="openModalSearchProduct()"
    />
    <app-icon icon="search" />
  </label>
</div>
<app-modal-search (productSelected)="openModalAddProduct($event)" />
<app-modal-add-product-ticket [product]="productSelected" />
