<div class="p-1">
  <label class="input input-bordered flex items-center gap-2 rounded-none mt-2">
    <input
      #searchInput
      [formControl]="search"
      type="text"
      class="grow text-2xl font-bold"
      placeholder="Buscar producto"
    />
    <app-icon icon="search" />
  </label>
  @if (products) {
  <app-table-products [products]="products" [index]="index" />
  }@else {
  <div class="my-4">
    <app-alert message="Escriba algo para buscar en la base de datos" />
  </div>
  }
</div>
